@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes customPulse {
  0%, 100% {
    opacity: 1;
    background-color: #292929;
  }
  70% {
    opacity: 0.9;
    background-color: #3a3a3a; /* You can change this color */
  }
}

.animate-custom-pulse {
  animation: customPulse 5s ease-in-out infinite; /* Change 2s to make it faster/slower */
}


html {
  scroll-behavior: smooth;
}